# chezmoi configuration
[data]
    # Bitwarden item IDs for secrets
    [data.bitwarden]
        gemini_api_key_id = "7c857c5d-4637-41f7-a21e-b3c700d2ae2d"
        ntfy_topic_id = "68e6cade-a6e7-4149-a929-b3c700d25d75"
